/* start container */
.banner {
  position: relative;
  margin-bottom: 30px;
  background-image: url(../imgs/background-image.jpg);
  background-size: cover;
  background-position: center;
  margin: 0 30px;
  height: 300px;
}

@media screen and (min-width: 1024px) {
  .banner {
    height: 500px;
    margin-bottom: 50px;
  }
}

.banner__text-block {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: inline-block;
  width: auto;
}

.banner__text {
  display: block;
  background: yellowgreen;
}

@media screen and (min-width: 1024px) {
  .banner__text {
    font-size: 24px;
    background-color: wheat;
  }
}

.banner--red {
  background: red;
}

.banner__logo {
  position: absolute;
  bottom: 20px;
  right: 10px;
  height: 24px;
  background: yellowgreen;
}

@media screen and (min-width: 1024px) {
  .banner__logo {
    height: 36px;
    background-color: wheat;
  }
}